.well.well-sm
  .row
    .col-sm-6.col-md-4
      %img.img-rounded.img-responsive{:alt => "", :src => "http://bootdey.com/img/Content/user_1.jpg"}/
    .col-sm-6.col-md-8
      %h4= @user.name
      %p
        %i.fa.fa-envelope
        = @user.email
      %p
        %i.fa.fa-tag
          = @user.height_meters
        m
        | 
        %i.fa.fa-balance-scale
          = @user.weight_kilograms
          kg
      .btn-group
        %button.btn.btn-primary{:type => "button"}
          %i.fa.fa-globe
          Public Page