.row
  .col-lg-12
    .main-box.clearfix
      .main-box-body.clearfix
        .table-responsive
          %table.table.user-list
            %thead
              %tr
                %th
                  %span User
                %th
                  %span Total Hours
                %th.text-center
                  %span Sports
                %th.text-right
                  %span Email
                %th  
            %tbody
              = render partial: 'shared/users/row', collection: @users, as: :user