.container
  .row
    .col-md-4
      = render 'personal_profile'
    .col-md-8
      %h4 Hours breakdown
      .row
        .col-sm-6
          .row
            .col-sm-3
              Football
            .col-sm-9
              .progress{:style => "height:9px; margin:8px 0;"}
                .progress-bar.progress-bar-success{"aria-valuemax" => "5", "aria-valuemin" => "0", "aria-valuenow" => "5", :role => "progressbar", :style => "width: 40%"}
            .col-sm-3
              Soccer
            .col-sm-9
              .progress{:style => "height:9px; margin:8px 0;"}
                .progress-bar.progress-bar-danger{"aria-valuemax" => "5", "aria-valuemin" => "0", "aria-valuenow" => "5", :role => "progressbar", :style => "width: 80%"}
    
    
    .col-sm-12
      %hr/
      .review-block
        = link_to 'See All Teams', user_teams_path(@user), remote: true
        #user-teams-container
