.container
  .row
    .col-md-5
      #user-personal-profile
        = render 'personal_profile'
    .col-md-7
      #user-edit
  .row
    .col-sm-12
      %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#sports"} Sports
        %li
          %a{"data-toggle" => "tab", :href => "#teams"} Teams
      .tab-content
        #sports.tab-pane.active
          %h4 All Sports Events
          .pull-right
            =link_to "add new sport", new_user_sport_path(@user), remote: true
          %ul.list-group
            #user-sports
              = render partial: 'shared/sports/index'
        #teams.tab-pane
          %br
          #user-teams-container
            = link_to 'See All Teams', user_teams_path(@user), remote: true, class: 'btn btn-primary'
         

