- @teams.each do |team|
  .row
    .col-sm-3
      %img.img-rounded{:src => "https://dummyimage.com/60x60/666/ffffff&text=No+Image"}/
      .form-group
        %h4.review-block-name
          = team.name
      .form-group
        = link_to "Invite", new_team_invitation_path(team), remote: true
    .col-sm-9
      = render partial: 'shared/users/row', locals: {users: team.users, full_render: false}
  %hr/
